.header {
    background-color:#3f4757;
    color:rgb(206, 204, 204);
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    font-weight: bold;
}